In [2]:
#import pandas under the alias pd
import pandas as pd

In [8]:
#Select the 'Pokemon' column from the pokemon.csv and convert it to a pandas series
pokemon = pd.read_csv("pokemon.csv", usecols=["Pokemon"]).squeeze("columns")
print(pokemon)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [13]:
#Select the 'stock price' column from the google_stock_price csv and convert it to a panda series

# google_stock = pd.read_csv("google_stock_price.csv")
# print(google_stock)

google = pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze()
print(google)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [15]:
#Select the column 'item' from the foods.csv and convert it to a panda series
foods = pd.read_csv("foods.csv", usecols = ["Item"]).squeeze()
print(foods)

0         Burger
1        Chalupa
2          Sushi
3      Ice Cream
4        Chalupa
         ...
995        Sushi
996        Sushi
997        Donut
998      Chalupa
999      Chalupa
Name: Item, Length: 1000, dtype: object