In [1]:
#import pandas under the alias pd
import pandas as pd

In [8]:
#create data series for column data selected from pokemon/google csv's

pokemon =pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
# print(pokemon)
google =pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
# print(google)

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [18]:
#return the first five rows of the pokemon csv
pokemon.head()
pokemon.head(5)
pokemon.head(n = 5)

pokemon.head(8)
pokemon.head(1)

0    Bulbasaur
Name: Pokemon, dtype: object

In [22]:
#return the last five rows in google csv
google.tail(5)
google.tail(n = 5)

google.tail(9)
google.tail(4)
google.tail(1)

3011    782.22
Name: Stock Price, dtype: float64

In [2]:
#Select the name column from the roller coasters csv and turn it into a series
coasters = pd.read_csv("roller_coasters.csv", usecols= ["Name"]).squeeze()
print(coasters)

0                        Kingda Ka
1              Top Thrill Dragster
2    Superman: Escape from Krypton
3                        Red Force
4                         Fury 325
5                Steel Dragon 2000
6                 Millennium Force
7                        Leviathan
8                  Intimidator 305
9                            Orion
Name: Name, dtype: object

In [3]:
#Print the top three rollercoasters
top_three = coasters.head(3)
print(top_three)

0                        Kingda Ka
1              Top Thrill Dragster
2    Superman: Escape from Krypton
Name: Name, dtype: object

In [4]:
#Print the bottom four roller coasters
bottom_four = coasters.tail(4)
print(bottom_four)

6    Millennium Force
7           Leviathan
8     Intimidator 305
9               Orion
Name: Name, dtype: object