In [3]:
#import pandas under alias pd
import pandas as pd

In [4]:
pd.read_csv("pokemon.csv")

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [5]:
#create data series for column data selected from pokemon/google csv's

pokemon =pd.read_csv("pokemon.csv", usecols = ["Pokemon"]).squeeze("columns")
# print(pokemon)
google =pd.read_csv("google_stock_price.csv", usecols = ["Stock Price"]).squeeze("columns")
# print(google)

In [7]:
#You can read in two columns of data in a series if one is an index
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [9]:
#sort by the index instead of by the values
pokemon.sort_index().head()

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
Name: Type, dtype: object

In [11]:
flavors = ["Red", "Blue", "Green", "Orange"]
gatorade = pd.Series(flavors).sort_values()
print(gatorade)

1      Blue
2     Green
3    Orange
0       Red
dtype: object

In [12]:
gatorade.sort_index()

0       Red
1      Blue
2     Green
3    Orange
dtype: object