In [1]:
#import pandas under alias pd
import pandas as pd

In [17]:
pokemon = pd.read_csv("pokemon.csv")
pokemon

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [20]:
#create data series for column data selected from pokemon/google csv's

pokemon =pd.read_csv("pokemon.csv", index_col = ["Pokemon"]).squeeze("columns")
print(pokemon.head())

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [21]:
pokemon.get(0)

'Grass'

In [22]:
pokemon.get("Bulbasaur")

'Grass'

In [25]:
#python will prent none value when get is called implicitly on value that is not included in Series data object values
pokemon.get("Digimon")
print(pokemon.get("Digimon"))

None

In [26]:
#providing a second argument with the get method return the second string if not found
pokemon.get("Digimon", "Nonexistant")

'Nonexistant'

In [28]:
#using the get method with multiple values and returning a string
pokemon.get(["Moltres","Nonexistant"],"Nonexistant")
pokemon.get([0, 500, 10000], "Nonexistant")

'Nonexistant'