In [1]:
#import pandas under the alias pd
import pandas as pd

In [6]:
#Read the data from pokemon csv into pokemon preview data frame
pokemon_preview = pd.read_csv("pokemon.csv")
print(pokemon_preview)

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [2]:
#Create data frame using the pokemon csv with 
pokemon =pd.read_csv("pokemon.csv", index_col = ["Pokemon"]).squeeze("columns")
print(pokemon)

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [11]:
#Create a Series from pokemon csv using the values stored in pokemon column
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
print(pokemon_df)

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [9]:
#Create a series from pokemon data
#Same as syntax above, both create series
pokemon_series = pokemon_df.squeeze("columns")
print(pokemon_series)

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [16]:
pokemon_series[0] = "Whatever"
print(pokemon_series)

0        Whatever
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [18]:
pokemon_series.head(1)

0    Whatever
Name: Pokemon, dtype: object

In [19]:
#pokemon data frame first index value remains unaffected by the change to series data 
pokemon_df

        Pokemon
0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
..          ...
716     Yveltal
717     Zygarde
718     Diancie
719       Hoopa
720   Volcanion

[721 rows x 1 columns]

In [20]:
print(pokemon_series)

0        Whatever
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [ ]:
#Copy Series data from original dataframe
pokemon_df = pd.read_csv("pokemon.csv", usecols = ["Pokemon"])
pokemon_series = pokemon_df.squeeze("columns").copy()